.heading1{
    margin-top:18px;
}

.products_container,.container {
    padding: 0px;
}


@media only screen and (max-width: 1200px){
	.boxed_layout{
		width:auto;
	}
	
	.product_item{
        max-width: 320px;
    }

    .nav-menu-wrap.type_2 .nav-main-menu > li > a{
		padding-left:18px;
		padding-right:18px;
	}

    .nav-main-menu.type_3 .nav-sub-menu-wrap:not(.type_2){
		width:456px;
	}

    .nav-main-menu > li > a{
		padding-left:30px;
		padding-right:30px;
	}


}/* large */

@media only screen and (max-width: 992px){

    .product_item{
        max-width: 300px;
    }
	
	.boxed_layout{
		width:auto;
	}

    .nav-menu-wrap.type_2 .nav-main-menu > li > a.doubleLine {
        padding: 9px 21px;
        text-align: center;
    }

    .nav-menu-wrap.type_2 .nav-main-menu > li > a.singleLine {
        padding: 20px 21px;
        text-align: center;
    }

    .nav-menu-wrap.type_2 .nav-main-menu > li > a{
		padding-left:10px;
		padding-right:10px;
	}

    .nav-main-menu > li > a{
		padding-left:16px;
		padding-right:16px;
	}

    .nav-sub-menu-wrap{
		padding-right:0;
		width:444px;
	}

    .d_sm_none{
		display:none;
	}
}/* medium */

@media only screen and (max-width:768px){
	.boxed_layout{
		margin:0;
		width: auto;
	}

    .head-menu{
        width: auto !important;
        margin-left: 32px;
        margin-right: 32px;
    }
    
    .heading1{
        margin-top:12px;
    }

    .nav-main-menu > li,.nav-main-menu > li:first-child {
        z-index: 101;
        width: 90%;
        margin: auto;
        margin-bottom: 5px;
    }

    .w_xs_auto,.boxed_layout,
	.portfolio_isotope_container.four_columns .portfolio_item .open_buttons{
		width:auto;
	}

    .nav-menu-wrap{
		position:relative !important;
		top:auto !important;
        background:transparent;
	}

    .product_item{
        max-width: 250px;
    }

    .d_xs_block {
        display: block;
    }

	.f_xs_none{
		float:none;
	}

    .d_xs_none {
        display:none;
    }

    .t_xs_align_l{
		text-align: left;
	}

    .nav-sub-menu-wrap{
		position:relative;
		-webkit-transform:none !important;
		-moz-transform:none !important;
		-o-transform:none !important;
		-ms-transform:none !important;
		transform:none !important;
		opacity:1;
		visibility: visible;
		padding:0;
		margin:5px 0 0;
		-webkit-transition:none;
		-moz-transition:none;
		-o-transition:none;
		transition:none;
	}
	.nav-main-menu > li > a{
		background:#fff;
		color:#e74c3c;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		border-radius:4px;
		text-transform: none;
		padding:10px 15px;
		border:1px solid #e74c3c;
	}

    .nav-main-menu > li:hover{
		color:#fff;
        background-color: #e74c3c;
        -webkit-border-radius:4px;
		-moz-border-radius:4px;
		border-radius:4px;
	}

    .nav-main-menu > li > a:hover{
        color:#fff;
        background-color: #e74c3c;
        -webkit-border-radius:4px;
		-moz-border-radius:4px;
		border-radius:4px;
	}



    .m_xs_bottom_5{
		margin-bottom:5px;
	}

    .m_xs_left_0{
		margin-left: 0px;
	}

    .d_xs_inline_b{
		display:inline-block;
	}

}/* xtra small */

@media only screen and (max-width:490px){

    #nav-menu-button{
        float: none;
        margin-left: 0px;
    }

    .nav-main-menu > li, .nav-main-menu > li:first-child {
        width:100%
    }

	.nav-shopping-cart{
		min-width:260px;
	}

    .nav-product-description{
		width:98px;
	}

    .m_mxs_bottom_5{
		margin-bottom:5px;
	}
    
	
    .products_container {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        padding: 0px;
    }
    
	
   .product_item {
        width: 100%;
		margin-left: auto;
        margin-right: auto;
		margin-top: 20px;
        max-width: 440px;
        float: none;
        overflow: hidden;
        /*border: lime 1px dashed;*/  
    }
	
	.product_item:not(.list_type) {
        width: 100%;
		margin-left: auto;
        margin-right: auto;
    }
    
    .pp_wrap{
        text-align: center;
    }
    
}/* xtra xtra small*/



