/* Responsive Design*/
/* Responsive Design*/
/* Responsive Design*/


@media only screen and (min-width:1300px) {
    .main_layout{
        width:auto;
        padding-left: 5%;
        padding-right: 5%;
    }
    
    .p_15{
        padding-left: 10px;
        padding-right: 10px;
    }
	
};




@media only screen and (max-width:1200px) {
    
    .boxed_layout {
        width: auto;
    }

    .nav-menu-wrap.type_2 .nav-main-menu>li>a {
        padding-left: 18px;
        padding-right: 18px;
    }

    .nav-main-menu>li>a {
        padding-left: 30px;
        padding-right: 30px;
    }
					
    .product_item:not(.list_type) {
        width: 219px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .products_container {
        margin-left: -30px;
        margin-right: -30px;
    }

    .qv_preview .zoomWrapper {
        width: auto!important;
        height: auto!important;
    }

    .qv_preview .zoomWrapper img {
        position: relative!important;
    }

    .d_md_none,.l_width_divider>li:before {
        display: none;
    }

    [class*=animate_]:not(#go_to_top) {
        -webkit-transform: translate(0px);
        -moz-transform: translate(0px);
        -o-transform: translate(0px);
        -ms-transform: translate(0px);
        transform: translate(0px);
        -webkit-animation: none;
        -moz-animation: none;
        -o-animation: none;
        -ms-animation: none;
        animation: none;
        opacity: 1;
        visibility: visible;
    }
    
} /* max-width:1200px */


@media only screen and (max-width:992px) {
    
    .boxed_layout {
        width: auto;
    }

    .nav-menu-wrap.type_2 .nav-main-menu>li>a.doubleLine {
        padding: 9px 21px;
        text-align: center;
    }

    .nav-menu-wrap.type_2 .nav-main-menu>li>a.singleLine {
        padding: 20px 21px;
        text-align: center;
    }

    .nav-menu-wrap.type_2 .nav-main-menu>li>a {
        padding-left: 10px;
        padding-right: 10px;
    }

    .nav-main-menu>li>a {
        padding-left: 16px;
        padding-right: 16px;
    }

    .nav-sub-menu-wrap {
        padding-right: 0;
        width: 444px;
    }
    
    .product_item:not(.list_type) {
        width: 226px;
		margin-left: 10px;
        margin-right: 10px;
    }

    h1>b {
        line-height: 1em;
    }

    [module=navigation] {
        position: relative;
        z-index: 192;
    }

    .product_item .photoframe.type_2 .pp_wrap>[class*=button_type_] {
        min-width: 94px;
    }

    .m_sm_bottom_15 {
        margin-bottom: 15px;
    }

    .m_sm_bottom_20 {
        margin-bottom: 20px;
    }

} /*max-width:992px*/

@media only screen and (max-width:393px) {
    .xss_hideSlider {
        display: none;
    }
} /*max-width:393px*/




