


@media only screen and (max-width:850px) {

		/* Last Updated */
		
		.lastUpdatedCircle{
			height: 61px;
			width: 132px;
			-webkit-border-top-left-radius: 0px;
			-webkit-border-bottom-left-radius: 0px;
			-moz-border-radius-topleft: 0px;
			-moz-border-radius-bottomleft: 0px;
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
		}
		
		.clockIcon{
			display: none;
			width: 50px;
			height: 50px;
			margin-left: 5px;
			margin-top: 6px;
			float:left;
		}
		
		.lastUpdatedtextWrapper{
			float:left;
			height: 61px;
			width: 124px;
		}
		
		.lastUpdatedTitle{
			font-weight: 700!important;
			color: #000000;
			text-align: left;
			padding-left: 10px;
			margin-top: 10px;
			font-size: 18px;
		}
		
		
		
		.lastUpdatedTime{
			color: #000000;
			text-align: left;
			padding-left: 10px;
			margin-top: 0px;
			font-size: 15px;
		}
		
		/* END Last Updated */

}


/* Extended Bootstrap*/



div{
	border: red 1px none;
}



.col-xl-1,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-10,.col-xl-11,.col-xl-12,
.col-xxs-1,.col-xxs-2,.col-xxs-3,.col-xxs-4,.col-xxs-5,.col-xxs-6,.col-xxs-7,.col-xxs-8,.col-xxs-9,.col-xxs-10,.col-xxs-11,.col-xxs-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}


/*xxs*/
@media (max-width: 480px) {
  .topBar{
  	background-color:red;
	display: none;
	}
	
	#nav-menu-button{
        float: none;
        margin-left: 0px;
		width: 100%;
    }
	
	
	/* Last Updated */
		
		.lastUpdatedCircle{
			margin-top: 8px;
			height: 39px;
			width: 100%;
			float: right;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-top-radius: 5px;
		}
		
		.clockIcon{
			display: none;
			width: 50px;
			height: 50px;
			margin-left: 5px;
			margin-top: 6px;
			float:left;
		}
		
		.lastUpdatedtextWrapper{
			float:none;
			height: 61px;
			width: 216px;
			margin: 0 auto;
		}
		
		.lastUpdatedTitle{
			font-weight: 700!important;
			color: #000000;
			text-align: left;
			padding-left: 16px;
			margin-top: 10px;
			font-size: 18px;
			float:left;
		}
		
		.lastUpdatedTitle:after{
			content:":";
		}
		
		.lastUpdatedTime{
			color: #000000;
			text-align: left;
			padding-left: 10px;
			margin-top: 10px;
			font-size: 15px;
			float:left;
			width:118px;
			
		}
		
		/* END Last Updated */
	
	.head-menu{
		margin-bottom: 15px;
	}
	
	
  .heading1{
  	text-align: center;
  } 		
	
  .xxs-mTop_12{
  	 margin-top: 12px;
  }	
  
  .xxs-tAlign-c{
  	text-align:center;
  }
	
  .hidden-xxs {
    display: none !important;
  }
  
  .visible-xxs {
    display: block !important;
  }

 .col-xxs-1, .col-xxs-2, .col-xxs-3, .col-xxs-4, .col-xxs-5, .col-xxs-6, .col-xxs-7, .col-xxs-8, .col-xxs-9, .col-xxs-10, .col-xxs-11, .col-xxs-12 {
    float: left;
  }
  .col-xxs-12 {
    width: 100%;
  }
  .col-xxs-11 {
    width: 91.66666667%;
  }
  .col-xxs-10 {
    width: 83.33333333%;
  }
  .col-xxs-9 {
    width: 75%;
  }
  .col-xxs-8 {
    width: 66.66666667%;
  }
  .col-xxs-7 {
    width: 58.33333333%;
  }
  .col-xxs-6 {
    width: 50%;
  }
  .col-xxs-5 {
    width: 41.66666667%;
  }
  .col-xxs-4 {
    width: 33.33333333%;
  }
  .col-xxs-3 {
    width: 25%;
  }
  .col-xxs-2 {
    width: 16.66666667%;
  }
  .col-xxs-1 {
    width: 8.33333333%;
  }
  .col-xxs-pull-12 {
    right: 100%;
  }
  .col-xxs-pull-11 {
    right: 91.66666667%;
  }
  .col-xxs-pull-10 {
    right: 83.33333333%;
  }
  .col-xxs-pull-9 {
    right: 75%;
  }
  .col-xxs-pull-8 {
    right: 66.66666667%;
  }
  .col-xxs-pull-7 {
    right: 58.33333333%;
  }
  .col-xxs-pull-6 {
    right: 50%;
  }
  .col-xxs-pull-5 {
    right: 41.66666667%;
  }
  .col-xxs-pull-4 {
    right: 33.33333333%;
  }
  .col-xxs-pull-3 {
    right: 25%;
  }
  .col-xxs-pull-2 {
    right: 16.66666667%;
  }
  .col-xxs-pull-1 {
    right: 8.33333333%;
  }
  .col-xxs-pull-0 {
    right: auto;
  }
  .col-xxs-push-12 {
    left: 100%;
  }
  .col-xxs-push-11 {
    left: 91.66666667%;
  }
  .col-xxs-push-10 {
    left: 83.33333333%;
  }
  .col-xxs-push-9 {
    left: 75%;
  }
  .col-xxs-push-8 {
    left: 66.66666667%;
  }
  .col-xxs-push-7 {
    left: 58.33333333%;
  }
  .col-xxs-push-6 {
    left: 50%;
  }
  .col-xxs-push-5 {
    left: 41.66666667%;
  }
  .col-xxs-push-4 {
    left: 33.33333333%;
  }
  .col-xxs-push-3 {
    left: 25%;
  }
  .col-xxs-push-2 {
    left: 16.66666667%;
  }
  .col-xxs-push-1 {
    left: 8.33333333%;
  }
  .col-xxs-push-0 {
    left: auto;
  }
  .col-xxs-offset-12 {
    margin-left: 100%;
  }
  .col-xxs-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-xxs-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-xxs-offset-9 {
    margin-left: 75%;
  }
  .col-xxs-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-xxs-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-xxs-offset-6 {
    margin-left: 50%;
  }
  .col-xxs-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-xxs-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-xxs-offset-3 {
    margin-left: 25%;
  }
  .col-xxs-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-xxs-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-xxs-offset-0 {
    margin-left: 0;
  }
	
}

/*xs*/








@media (min-width: 481px) and (max-width: 767px){
	.topBar{background-color:#000000;}
	
	.head-menu{
		margin-bottom: 15px;
	}
	
	.align_left-xs{
		text-align: left;
		float: left;
	}
	
	.xs-mr_10{
		margin-right:10px;
	}
	.xs-mr_10:after{
		content: ", ";
	}
	
	.p-left_0{
		padding-left: 0px;
	}
	
	.logo{
		max-width: 83%;
	}
	
	.addressFont {
		font-size: 14px;
		line-height: 16px;
	}
	
	.block-addr{
		width: 100%;
	}
	
	
	
	/* Last Updated */
		
		.lastUpdatedCircle{
			position: absolute;
			top: 0px;
			left: 140px;
			height: 39px;
			width: 220px;
			float: right;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-top-radius: 5px;
		}
		
		.clockIcon{
			display: none;
			width: 50px;
			height: 50px;
			margin-left: 5px;
			margin-top: 6px;
			float:left;
		}
		
		.lastUpdatedtextWrapper{
			float:left;
			height: 61px;
			width: auto;
		}
		
		.lastUpdatedTitle{
			font-weight: 700!important;
			color: #000000;
			text-align: left;
			padding-left: 16px;
			margin-top: 10px;
			font-size: 18px;
			float:left;
		}
		
		.lastUpdatedTitle:after{
			content:":";
		}
		
		.lastUpdatedTime{
			color: #000000;
			text-align: left;
			padding-left: 10px;
			margin-top: 12px;
			font-size: 15px;
			float:left;
			width:118px;
			
		}
		
		/* END Last Updated */
	
} /*  orange */





/* Special Override */
@media (min-width: 481px) and (max-width: 700px){
	.xs-block{
		display: block;
		width: 100%;
	}
	
	.xs-mr_10:after{
		content: "";
	}
	
	.col-xs-8, .col-xs-4{
		width:50%;
	}
	
}


/*sm*/
@media (min-width: 768px) and (max-width: 991px){
	.topBar{background-color:#000000;}
}

/*md*/
@media (min-width: 992px) and (max-width: 1199px){
	.topBar{background-color:#000000;}
}

/*lg*/
@media (min-width: 1200px) and (max-width: 1399px){
	.topBar{
		background-color:#000000;;
	}
	
	.lg-no-gutter{
		padding-left:0px;
		padding-right:0px;
	}
}

/*Special Layouy*/
@media only screen and (min-width:1200px) and (max-width:1300px) {
	.lg-no-gutter{
		padding-left: 15px;
		padding-right: 15px;
	}
}



/*xl*/
@media (min-width: 1400px) {

	.headerPadding{
		padding-left: 0px;
		padding-right: 0px;
	}
	 
	.addressFont{
		line-height:24px;
	}
	
	 .hidden-xl {
	   display: none !important;
	 }
	 
	 .visible-xl {
	   display: block !important;
	 }
	
	.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
	   float: left;
	 }
	 .col-xl-12 {
	   width: 100%;
	 }
	 .col-xl-11 {
	   width: 91.66666667%;
	 }
	 .col-xl-10 {
	   width: 83.33333333%;
	 }
	 .col-xl-9 {
	   width: 75%;
	 }
	 .col-xl-8 {
	   width: 66.66666667%;
	 }
	 .col-xl-7 {
	   width: 58.33333333%;
	 }
	 .col-xl-6 {
	   width: 50%;
	 }
	 .col-xl-5 {
	   width: 41.66666667%;
	 }
	 .col-xl-4 {
	   width: 33.33333333%;
	 }
	 .col-xl-3 {
	   width: 25%;
	 }
	 .col-xl-2 {
	   width: 16.66666667%;
	 }
	 .col-xl-1 {
	   width: 8.33333333%;
	 }
	 .col-xl-pull-12 {
	   right: 100%;
	 }
	 .col-xl-pull-11 {
	   right: 91.66666667%;
	 }
	 .col-xl-pull-10 {
	   right: 83.33333333%;
	 }
	 .col-xl-pull-9 {
	   right: 75%;
	 }
	 .col-xl-pull-8 {
	   right: 66.66666667%;
	 }
	 .col-xl-pull-7 {
	   right: 58.33333333%;
	 }
	 .col-xl-pull-6 {
	   right: 50%;
	 }
	 .col-xl-pull-5 {
	   right: 41.66666667%;
	 }
	 .col-xl-pull-4 {
	   right: 33.33333333%;
	 }
	 .col-xl-pull-3 {
	   right: 25%;
	 }
	 .col-xl-pull-2 {
	   right: 16.66666667%;
	 }
	 .col-xl-pull-1 {
	   right: 8.33333333%;
	 }
	 .col-xl-pull-0 {
	   right: auto;
	 }
	 .col-xl-push-12 {
	   left: 100%;
	 }
	 .col-xl-push-11 {
	   left: 91.66666667%;
	 }
	 .col-xl-push-10 {
	   left: 83.33333333%;
	 }
	 .col-xl-push-9 {
	   left: 75%;
	 }
	 .col-xl-push-8 {
	   left: 66.66666667%;
	 }
	 .col-xl-push-7 {
	   left: 58.33333333%;
	 }
	 .col-xl-push-6 {
	   left: 50%;
	 }
	 .col-xl-push-5 {
	   left: 41.66666667%;
	 }
	 .col-xl-push-4 {
	   left: 33.33333333%;
	 }
	 .col-xl-push-3 {
	   left: 25%;
	 }
	 .col-xl-push-2 {
	   left: 16.66666667%;
	 }
	 .col-xl-push-1 {
	   left: 8.33333333%;
	 }
	 .col-xl-push-0 {
	   left: auto;
	 }
	 .col-xl-offset-12 {
	   margin-left: 100%;
	 }
	 .col-xl-offset-11 {
	   margin-left: 91.66666667%;
	 }
	 .col-xl-offset-10 {
	   margin-left: 83.33333333%;
	 }
	 .col-xl-offset-9 {
	   margin-left: 75%;
	 }
	 .col-xl-offset-8 {
	   margin-left: 66.66666667%;
	 }
	 .col-xl-offset-7 {
	   margin-left: 58.33333333%;
	 }
	 .col-xl-offset-6 {
	   margin-left: 50%;
	 }
	 .col-xl-offset-5 {
	   margin-left: 41.66666667%;
	 }
	 .col-xl-offset-4 {
	   margin-left: 33.33333333%;
	 }
	 .col-xl-offset-3 {
	   margin-left: 25%;
	 }
	 .col-xl-offset-2 {
	   margin-left: 16.66666667%;
	 }
	 .col-xl-offset-1 {
	   margin-left: 8.33333333%;
	 }
	 .col-xl-offset-0 {
	   margin-left: 0;
	 }				

	.topBar{background-color:#000000;}

	.align_left-xl{
		text-align: left;
		float: left;
	}
	
	.xl-mr_10{
		margin-right: 10px;
	}
	
	.xl-ml_10{
		margin-left: 15px;
	}
	
	.xl-fs_16{
		font-size: 16px;
	}
	
	.xl-mTop_21{
		margin-top: 21px;
	};
	
}





