/* @import url(http://fonts.googleapis.com/css?family=Roboto:300,700); */

#emailLink {
    font-size: .75em;
}

.nav-sub-menu-wrap {
    position: absolute;
    left: 0;
    width: 780px;
    background: #fff;
    padding: 10px 10px 0 0;
    border-top-width: 3px;
    border-top-style: solid;
    margin-top: 10px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -o-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -ms-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -webkit-transform: translateY(35px);
    -moz-transform: translateY(35px);
    -o-transform: translateY(35px);
    -ms-transform: translateY(35px);
    transform: translateY(35px);
    opacity: 0;
    visibility: hidden;
}

.nav-sub-menu-wrap,
[module=navContainer] {
    border-color: #e74c3c;
}

.nav-sub-menu-wrap:before {
    border-bottom-color: #e74c3c;
}

.nav-sub-menu-wrap.type_2 {
    width: auto;
    padding: 0;
}

.nav-sub-menu-wrap.type_2 .sub_menu>li:last-child>a {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.nav-sub-menu-wrap:after {
    content: "";
    width: 100%;
    height: 10px;
    display: block;
    position: absolute;
    left: 0;
    top: -13px;
}

.nav-sub-menu-wrap:before {
    right: auto;
    top: -11px;
}

.nav-sub-menu-wrap .sub_menu.first>li:last-child>a {
    -webkit-border-radius: 0 0 0 4px;
    -moz-border-radius: 0 0 0 4px;
    border-radius: 0 0 0 4px;
}

#nav-menu-button, 
.nav-main-menu>.current_click>a,
.nav-main-menu>li.current>a,
.nav-main-menu>li.touch_open_sub>a {
    background: #e74c3c;
}

#nav-menu-button {
    padding: 9px 26px;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    float: left;
    margin-left: 0;
}

#nav-menu-button>span {
    display: block;
    height: 3px;
    background: #fff;
    margin: 6px 0;
}

.nav-menu-wrap.type_2 .nav-main-menu>li>a.singleLine {
    padding: 20px 25px;
    text-align: center;
}

.nav-menu-wrap.type_2 .nav-main-menu>li>a.doubleLine {
    padding: 9px 25px;
    text-align: center;
}

.nav-menu-wrap {
    z-index: 189;
    width: inherit;
}

.nav-menu-wrap[class*=type_]:not(.type_3) {
    width: auto;
}

.nav-menu-wrap.type_2:not(.sticky) {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.nav-menu-wrap {
    background: #323a45;
}

.nav-menu-wrap.type_2:not(.sticky) .nav-main-menu>li:first-child>a {
    -webkit-border-top-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
}


.nav-menu-wrap .nav-site-settings.f_right {
    margin: 10px;
}

.nav-main-menu.type_2>li>a {
    padding: 9px 10px 10px;
}

.nav-menu-wrap.type_2 .nav-main-menu>li>a {
    padding-left: 18px;
    padding-right: 18px;
}



.t_xs_align_c {
    text-align: center;
}

.md_no-touch .nav-main-menu[class*=type_]>li:hover>a,
.md_no-touch a.nav-color-light:hover,
.nav-color-light,
.nav-main-menu[class*=type_]>.current>a,
.nav-main-menu[class*=type_]>.touch_open_sub>a,
[class*=button_style_][class*=color].color_dark:hover {
    color: #fff;
}

.nav-main-menu>li {
    z-index: 101;
}

.nav-main-menu>li:hover {
    background-color: #c0392b;
}

.nav-main-menu>li>a {
    display: block;
    padding: 20px 40px;
    padding-left: 30px;
    padding-right: 30px;
}

.nav-main-menu>li:hover,
.nav-main-menu>li>a:hover,
.nav-main-menu>li>a>b:hover,
.nav-main-menu>li>a[class*=color]:not(.color_light):hover {
    color: #FFF;
    text-decoration: none;
}

#go_to_top,
.nav-main-menu>li>a,
.photoframe img,
.product_item .photoframe figcaption>*,
.product_item .photoframe img,
.qv_carousel_wrap *,
.social_widgets *,.sub_menu,blockquote {
    -webkit-backface-visibility: hidden;
}

.md_no-touch .nav-main-menu>li:hover>.nav-sub-menu-wrap,
.nav-main-menu>li.touch_open_sub>.nav-sub-menu-wrap{
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
}

.tr_delay_hover {
    -webkit-transition: color 1s ease,background-color 1s ease,box-shadow 1s ease;
    -moz-transition: color 1s ease,background-color 1s ease,box-shadow 1s ease;
    -o-transition: color 1s ease,background-color 1s ease,box-shadow 1s ease;
    transition: color 1s ease,background-color 1s ease,box-shadow 1s ease;
}

.tr_delay_hover:hover {
    -webkit-transition: color .1s ease,background-color .1s ease,box-shadow .1s ease;
    -moz-transition: color .1s ease,background-color .1s ease,box-shadow .1s ease;
    -o-transition: color .1s ease,background-color .1s ease,box-shadow .1s ease;
    transition: color .1s ease,background-color .1s ease,box-shadow .1s ease;
}

.categoryGroup {
    width: 165px;
    overflow: hidden;
    float: left;
}

.p_15 {
    padding-left: 15px;
    padding-right: 15px;
}

.main-page-container {
    width: 100%;
}

section .products_container {
    padding: 0 5px;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

figcaption,figure,footer,header,nav,progress,section,source,video {
    display: block;
}
										a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,command,datalist,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,source,span,strike,strong,sub,sup,table,tbody,tdvideo,tfoot,th,thead,tr,tt,u,ul,var {
    background: 0 0;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: top;
}

a {
    text-decoration: none;
    outline: 0!important;
}

b,strong {
    font-weight: 700!important;
}

ol,ul {
    list-style: none;
}

table,table td {
    padding: 0;
    border: none;
    border-collapse: collapse;
}

img {
    vertical-align: top;
    max-width: 100%;
}

embed {
    vertical-align: top;
}

button,input {
    -webkit-appearance: none;
    outline: 0;
}

button::-moz-focus-inner {
    border: 0;
}

body,html {
    height: 100%;
}

body {
    font: 300 14px/21px Roboto,sans-serif;
    color: #696e6e;
    background: fixed #edefef;
    letter-spacing: .1px;
    overflow-x: hidden;
    -webkit-backface-visibility: hidden;
}

.boxed_layout {
    width: auto;
    margin: 0 auto;
}

[class*=layout] {
    background: #edefef;
}

.t_align_c {
    text-align: center;
}

.t_align_r {
    text-align: right;
}

.d_block {
    display: block;
}

.d_none,.tw_buttons li:first-child:before {
    display: none;
}

.f_size_small {
    font-size: .85em;
}

.f_size_medium {
    font-size: .9em;
}

.f_size_large {
    font-size: 1.15em;
}

.f_size_ex_large {
    font-size: 1.25em;
}

.l_height_medium {
    line-height: 1.42em;
}

.horizontal_list>* {
    float: left;
}

.horizontal_list>:first-child {
    margin-left: 0;
}

.r_corners{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.full_width,
.wide_layout {
    width: 100%;
}

/* Quick View */							
.w_inherit {
    width: inherit;
}

.half_column {
    width: 50%;
    padding: 0 0 0 15px;
}

.half_column_left47 {
    width: 47%;
    padding: 0 0 0 5px;
}

.half_column_right53 {
    width: 53%;
    padding: 0 0 0 24px;
}

.half_column:first-child {
    padding: 0 15px 0 0;
}

.half_column.type_2 {
    padding: 0 0 0 5px;
}

.half_column.type_2:first-child {
    padding: 0 5px 0 0;
}

.relative {
    position: relative;
}

.bg_tr {
    background: 0 0;
}

.mw_0 {
    min-width: 0!important;
}

.m_bottom_3 {
    margin-bottom: 3px;
}

.v_align_b {
    vertical-align: baseline;
}

.m_bottom_10 {
    margin-bottom: 10px;
}

.d_inline_b {
    display: inline-block;
}

.m_bottom_12 {
    margin-bottom: 12px;
}

.m_bottom_15 {
    margin-bottom: 15px;
}

.m_bottom_20 {
    margin-bottom: 20px;
}

.m_bottom_25 {
    margin-bottom: 25px;
}

.mTop_5{
	margin-top: 12px;
}

.mTop_12{
	margin-top: 12px;
}

.fw_medium {
    font-weight: 500;
}

.centered_db {
    margin-left: auto;
    margin-right: auto;
}

.box_s_none {
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    -o-box-shadow: none!important;
    -ms-box-shadow: none!important;
    box-shadow: none!important;
}

.f_left {
    float: left;
}

.f_right {
    float: right;
}

.m-right_5{
	margin-right: 5px;
}

.button_type_2 .scheme_color,.tr_delay_hover {
    -webkit-transition: color 1s ease,background-color 1s ease,box-shadow 1s ease;
    -moz-transition: color 1s ease,background-color 1s ease,box-shadow 1s ease;
    -o-transition: color 1s ease,background-color 1s ease,box-shadow 1s ease;
    transition: color 1s ease,background-color 1s ease,box-shadow 1s ease;
}

.button_type_2:hover .scheme_color,.tr_delay_hover:hover {
    -webkit-transition: color .1s ease,background-color .1s ease,box-shadow .1s ease;
    -moz-transition: color .1s ease,background-color .1s ease,box-shadow .1s ease;
    -o-transition: color .1s ease,background-color .1s ease,box-shadow .1s ease;
    transition: color .1s ease,background-color .1s ease,box-shadow .1s ease;
}

.shadow {
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.1);
    -o-box-shadow: 0 1px 1px rgba(0,0,0,.1);
    -ms-box-shadow: 0 1px 1px rgba(0,0,0,.1);
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
							
::selection,mark {
    background: #e74c3c;
    color: #fff;
}

::-moz-selection {
    background: #e74c3c;
    color: #fff;
}

::-o-selection {
    background: #e74c3c;
    color: #fff;
}

::-ms-selection {
    background: #e74c3c;
    color: #fff;
}

::-webkit-input-placeholder {
    color: #696e6e;
}

::-moz-placeholder {
    color: #696e6e;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #696e6e;
}


/*Custom Scrollbar*/
/*
::-webkit-scrollbar {
    width: 10px;
    background: #323a45;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: #e74c3c;
}
*/

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.search_button:hover,
a,
a[class*=color]:not(.color_light):hover,
blockquote:before,
label[class*=required]:after {
    color: #e74c3c;
}

.sub_menu_wrap,
.sub_menu_wrap:before {
    border-bottom-color: #e74c3c;
}

#go_to_top:hover,
#menu_button,
.bg_scheme_color,
.count
{
    background: #e74c3c;
}



h2 {
    font-size: 1.71em;
    line-height: 1em;
}

.p_table>footer a,.search_button,.tabs_nav,h3 {
    font-size: 1.4em;
}
							
h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1.15em;
}

h6 {
    font-size: 1em;
}
							
.tr_hover,a {
    -webkit-transition: color .4s ease,background-color .4s ease;
    -moz-transition: color .4s ease,background-color .4s ease;
    -o-transition: color .4s ease,background-color .4s ease;
    transition: color .4s ease,background-color .4s ease;
}

.color_dark,
.md_no-touch a:hover{
    color: #292f38;
}

.color_light,
.md_no-touch .main_menu[class*=type_]>li:hover>a,
.md_no-touch a.color_light:hover,
[class*=button_type_][class*=color].color_dark:hover {
    color: #fff;
}

.color_light_2 {
    color: #f9f9f9;
}

.color_green {
    color: #27ae60;
}

.sub_menu li:hover>a {
    background: #ecf0f1;
}

.bg_color_dark_1 {
    background: #292f38;
}

.bg_color_dark_2 {
    background: #323a45;
}

.h_bot_part {
    padding-top: 29px;
    padding-bottom: 27px;
}

.h_bot_part.type_2 {
    padding-bottom: 25px;
}

.menu_wrap.type_2 .main_menu>li>a.singleLine {
    padding: 20px 25px;
    text-align: center;
}

.menu_wrap.type_2 .main_menu>li>a.doubleLine {
    padding: 9px 25px;
    text-align: center;
}


#go_to_top,
.main_menu>li>a,
.photoframe img,
.product_item .photoframe figcaption>*,
.product_item .photoframe img,
.sub_menu,
blockquote {
    -webkit-backface-visibility: hidden;
}

.sub_menu li a {
    display: block;
    padding: 7.7px 20px;
    white-space: pre;
}

.sub_menu_wrap .sub_menu.first>li:last-child>a {
    -webkit-border-radius: 0 0 0 4px;
    -moz-border-radius: 0 0 0 4px;
    border-radius: 0 0 0 4px;
}

.sub_menu_wrap.type_2 .sub_menu>li:last-child>a {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.top_arrow:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-bottom-width: 8px;
    border-bottom-style: solid;
    border-right: 7px solid transparent;
    position: absolute;
    top: -8px;
    left: 16px;
}

.menu_wrap .site_settings.f_right {
    margin: 10px;
}


#go_to_top.type_2.animate_horizontal_finished:hover,
{
    opacity: 1;
}

#go_to_top.type_2.animate_ftl,
.hide{
    opacity: 0;
}

.button_type_4,.button_type_8 {
    padding: 8px 15px;
    min-width: 123px;
}

.button_type_5 {
    padding: 8px 12px 9px;
    background: rgba(41,47,56,.5);
}

[class*=button_type]:not(.bg_tr) {
    position: relative;
    -webkit-box-shadow: 0 2px 0 #bdc3c7;
    -moz-box-shadow: 0 2px 0 #bdc3c7;
    -o-box-shadow: 0 2px 0 #bdc3c7;
    -ms-box-shadow: 0 2px 0 #bdc3c7;
    box-shadow: 0 2px 0 #bdc3c7;
}

[class*=button_type_].bg_dark_color,[class*=button_type_]:not(.bg_tr):hover {
    -webkit-box-shadow: 0 2px 0 #2c3e50;
    -moz-box-shadow: 0 2px 0 #2c3e50;
    -o-box-shadow: 0 2px 0 #2c3e50;
    -ms-box-shadow: 0 2px 0 #2c3e50;
    box-shadow: 0 2px 0 #2c3e50;
}

[class*=button_type_].bg_dark_color:hover,[class*=button_type_].bg_scheme_color {
    -webkit-box-shadow: 0 2px 0 #c0392b;
    -moz-box-shadow: 0 2px 0 #c0392b;
    -o-box-shadow: 0 2px 0 #c0392b;
    -ms-box-shadow: 0 2px 0 #c0392b;
    box-shadow: 0 2px 0 #c0392b;
}

#menu_button.active,
#menu_button:hover,
[class*=button_type_].active,
[class*=button_type_].bg_dark_color,
[class*=button_type_].color_dark:not(.bg_cs_hover):hover,
[class*=button_type_]:not(.bg_cs_hover):hover {
    background  : #34495e;
    color       : #fff;
}

.search_button {
    background-color: transparent;
    color: #bdc3c7;
    margin-top: 20px;
}

.pp_wrap>[class*=button_type_] {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%) scale(0.1);
    -moz-transform: translate(-50%,-50%) scale(0.1);
    -o-transform: translate(-50%,-50%) scale(0.1);
    -ms-transform: translate(-50%,-50%) scale(0.1);
    transform: translate(-50%,-50%) scale(0.1);
    opacity: 0;
}

.photoframe.type_2 .pp_wrap>[class*=button_type_] {
    top: auto;
    bottom: -9px;
}

.button_type_5:hover {
    background: rgba(41,47,56,.8)!important;
}


.photoframe {
    min-height: 379px;
}


.product_item .photoframe:hover .pp_wrap>[class*=button_type_] {
    -webkit-transform: translate(-50%,-50%) scale(1);
    -moz-transform: translate(-50%,-50%) scale(1);
    -o-transform: translate(-50%,-50%) scale(1);
    -ms-transform: translate(-50%,-50%) scale(1);
    transform: translate(-50%,-50%) scale(1);
    opacity: 1;
}

#go_to_top {
    width: 40px;
    height: 40px;
    color: #fff;
    background: #262c34;
    position: fixed;
    left: 50%;
    margin: -20px 0 0 620px;
    top: 50%;
    font-size: 1.65em;
}

#go_to_top.type_2.animate_horizontal_finished {
    opacity: .5;
}

#go_to_top i:only-of-type,.sw_button i:only-of-type {
    line-height: 40px;
}
					
i[class^="fa "] {
    line-height: inherit;
}

[class*=button_type_]:not(.button_type_1)>i:not([class*=m_]):only-of-type {
    margin-left: 10px;
    margin-right: 10px;
}


.button_type_4>i[class^="fa "]:not([class*=f_size]),
.button_type_5>i[class^="fa "] {
    font-size: 21px;
}

.sub_menu_wrap:before {
    top: -11px;
}

hr {
    border-color: #ecf0f1;
}

.divider_type_3,.l_width_divider>li:before {
    border-color: #e2e6e7;
}



.product_item {
    margin: 10px;
}

.product_item .photoframe figcaption {
    padding: 8px 0 0;
}

.product_item .photoframe.type_2 figcaption {
    padding: 3px 10px 0 0;
}

.product_item .photoframe img{
    -webkit-transform: none!important;
    -moz-transform: none!important;
    -o-transform: none!important;
    -ms-transform: none!important;
    transform: none!important;
}

.pp_wrap {
    z-index: 1;
}

.product_item .photoframe:hover {
    -webkit-box-shadow: 0 0 17px rgba(0,0,0,.12);
    -moz-box-shadow: 0 0 17px rgba(0,0,0,.12);
    -o-box-shadow: 0 0 17px rgba(0,0,0,.12);
    -ms-box-shadow: 0 0 17px rgba(0,0,0,.12);
    box-shadow: 0 0 17px rgba(0,0,0,.12);
}

/*isotope*/							
.isotope-item {
    z-index: 2;
}
							
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
							
.isotope,.isotope .isotope-item {
    -webkit-transition-duration: .8s;
    -moz-transition-duration: .8s;
    -ms-transition-duration: .8s;
    -o-transition-duration: .8s;
    transition-duration: .8s;
}
							
.isotope {
    -webkit-transition-property: height,width;
    -moz-transition-property: height,width;
    -ms-transition-property: height,width;
    -o-transition-property: height,width;
    transition-property: height,width;
}
							
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform,opacity,box-shadow;
    -moz-transition-property: -moz-transform,opacity,box-shadow;
    -ms-transition-property: -ms-transform,opacity,box-shadow;
    -o-transition-property: -o-transform,opacity,box-shadow;
    transition-property: transform,opacity,box-shadow;
}
							
.isotope .isotope-item.no-transition,.isotope.no-transition,.isotope.no-transition .isotope-item {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}

.products_container {
    padding-bottom: 10px;
    margin-left: -15px;
    margin-right: -15px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.products_container.list_type {
    overflow: visible!important;
}

.photoframe {
    border: 10px solid #fff;
    z-index: 1;
    background: #fff;
}

.photoframe:not(.type_2):hover img,.specials_item .d_block.wrapper:hover img {
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    -o-transform: scale(1.08);
    -ms-transform: scale(1.08);
    transform: scale(1.08);
}

a:hover .tooltip,button:hover .tooltip,li:hover .tooltip {
    opacity: 1;
    visibility: visible;
}

.popup_wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 200;
}

.popup {
    background: #fff;
    padding: 26px 20px;
    position: absolute;
    top: 35%;
    left: 50%;
    width: 797px;
    overflow: auto;
}

.popup>.close {
    position: absolute;
    top: 9px;
    right: 12px;
}

.main_menu>li.touch_open_sub>.sub_menu_wrap,
.md_no-touch .main_menu>li:hover>.sub_menu_wrap{
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
}

[role=search]:not([class*=type_]) {
    width: 99%;
}

[role=search]:not([class*=type_]) input[type=text] {
    width: 95%;
    background: 0 0;
    border: none;
}

[role=search].type_2 button {
    position: absolute;
    right: 6px;
    height: 100%;
    top: 0;
    margin-top: 0;
}

[role=search].type_2 input[type=text] {
    padding-right: 40px;
}

input:not([type=submit]),textarea {
    background: #f5f7f8;
    height: 40px;
    padding: 9px 10px;
    color: #696e6e;
    border: 2px solid #e4e4e2;
    outline: 0;
    resize: none;
}

input:not([type=submit]).type_2 {
    height: 30px;
    padding: 2px 10px;
    width: 45%;
}

input[type=checkbox]+label,input[type=radio]+label {
    cursor: pointer;
    display: inline-block;
    position: relative;
    margin-bottom: 8px;
}

input[type=checkbox]+label:after {
    content: "\f00c";
    font-family: FontAwesome;
    line-height: 24px;
    top: 0;
    font-size: .85em;
    position: absolute;
    left: 5px;
    color: #292f38;
    display: none;
}

.block_select:before,input[type=checkbox]+label:before,input[type=radio]+label:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 9px;
    width: 22px;
    height: 22px;
    background: url(../images/checkbox.png) no-repeat;
}

.block_select:before,input[type=radio]+label:before {
    background: url(../images/radio.png) no-repeat;
    overflow: hidden;
}

input[type=checkbox]:checked+label:after {
    display: block;
}

.block_select.selected:before,input[type=radio]:checked+label:before {
    background-position: 0 -22px;
}

input::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

[class*=animate_] {
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
}

.tr_all_hover,[class*=animate_].fast {
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.tr_all_long_hover,[class*=animate_].long {
    -webkit-transition: all 1.1s ease;
    -moz-transition: all 1.1s ease;
    -o-transition: all 1.1s ease;
    transition: all 1.1s ease;
}

.animate_fade,[class*=animate_ft] {
    opacity: 0;
    visibility: hidden;
}

.animate_ftl {
    -webkit-transform: translateX(45px);
    -moz-transform: translateX(45px);
    -o-transform: translateX(45px);
    -ms-transform: translateX(45px);
    transform: translateX(45px);
}

.animate_ftr {
    -webkit-transform: translateX(-45px);
    -moz-transform: translateX(-45px);
    -o-transform: translateX(-45px);
    -ms-transform: translateX(-45px);
    transform: translateX(-45px);
}

.animate_ftb {
    -webkit-transform: translateY(-35%);
    -moz-transform: translateY(-35%);
    -o-transform: translateY(-35%);
    -ms-transform: translateY(-35%);
    transform: translateY(-35%);
}

.animate_vertical_finished[class*=animate_ft],.no_children_animate [class*=animate_],.simple_s_caption.active,.with_buttons:hover .open_buttons>* {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
}

/*
.product_item:not(.list_type) {
    width: 210px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
	overflow: hidden;
}
*/

.products_append_container {
    display: none;
}


.button_type_4 {
    display: none;
}

.products_container {
    margin: auto;
	/* border: lime 1px dashed; */
	display: none;
}

.closeDetails{
	float: right;
	position: relative;
	bottom: 15px;
	left: 10px;
	opacity: .5;
	cursor:pointer;
}

.topSpacer{
	height: 40px;
}

.topBar{
	background-color: #303335;
 	position: fixed;
  	top: 0;
  	left: 0;
 	width: 100%;
  	height: 8px;
  	z-index: 1000;
}

.head-menu{
	margin-bottom: 15px;
	width: 100%;
}

.logo{
	width: 240px;
}

.m-left_15{
	margin-left:15px;
}

.callUs{
	font-size: .75em;
	position: relative;
	top: 4px;
}

.p-left_0{
	padding-left: 0
}

.p-right_0{
	padding-right: 0;
}

div.searchPaddingRight{
	padding-right:0px;
}

.addressFont{
	font-size: 18px;
}

.headerPadding{
	padding-left: 15px;
	padding-right: 15px;
}

.searchIcon{
	max-height: 32px;
	height: 69%;
}

.heading1{
	margin-left:15px;
}

.no-gutter{
	padding-left: 0;
	padding-right: 0;
}

/* Fly out banner */

.item-hover {
	position: absolute;
	left: -150px;
	bottom: 30%;
	width: 130px;
	height: 35px;
	line-height: 35px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-ms-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	transform: shew(-20deg);
}


.br-red {
	background-color: #f75353;
}

a.link {
	position: absolute;
	left: -130px;
	bottom: 32%;
	font-size: 16px;
	color: #fff;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}


/* Last Updated */

.lastUpdatedCircle{
	background-color: #14f014;
	height: 61px;
	width: 187px;
	float: right;
	-webkit-border-top-left-radius: 30px;
	-webkit-border-bottom-left-radius: 30px;
	-moz-border-radius-topleft: 30px;
	-moz-border-radius-bottomleft: 30px;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}

.clockIcon{
	width: 50px;
	height: 50px;
	margin-left: 5px;
	margin-top: 6px;
	float:left;
}

.lastUpdatedtextWrapper{
	float:left;
	height: 61px;
	width: 120px;
}

.lastUpdatedTitle{
	font-weight: 700!important;
	color: #000000;
	text-align: left;
	padding-left: 12px;
	margin-top: 10px;
	font-size: 18px;
}

.lastUpdatedTime{
	color: #000000;
	text-align: left;
	padding-left: 12px;
	margin-top: 2px;
	font-size: 15px;
}

/* END Last Updated */

.productBannerWrapper{
    position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1000;
	height: 100px;
    width: 100px;
    overflow: hidden;
}

.productBanner{
    position: relative;
    top:28px;
    left:-35px;
    text-align: center;
    width: 145px;
    color: #FFFFFF;
    font-weight: bold;
    letter-spacing: 0.9px;
	background-color: #15b5ef;
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
}

