<cfset defaultProductsTitle = "Just Arrived"/>

<cfif LEN(url.category) GT 0>
    <cfset defaultProductsTitle = url.category/>
</cfif>
<cfoutput>
    <cfif isDefined("url.searchstr") AND LEN(url.searchstr)>
        <h2 class="tt_uppercase color_dark heading1 ">#variables.defaultProductsTitle#: <span class="searchLable">Search For:</span> #url.searchstr#</h2>
    <cfelse>
        <h2 class="tt_uppercase color_dark heading1 ">#variables.defaultProductsTitle#:</h2>
    </cfif>
    
</cfoutput>
    <!--filter navigation of products-->
    <!--- 
    <ul class="horizontal_list clearfix tt_uppercase isotope_menu f_size_ex_large">
        <li class="active m_right_5 m_bottom_10 m_xs_bottom_5 animate_ftr"><button class="button_type_2 bg_light_color_1 r_corners tr_delay_hover tt_uppercase box_s_none" data-filter="*">All</button></li>
        <li class="m_right_5 m_bottom_10 m_xs_bottom_5 animate_ftr"><button class="button_type_2 bg_light_color_1 r_corners tr_delay_hover tt_uppercase box_s_none" data-filter=".featured">Featured</button></li>
        <li class="m_right_5 m_bottom_10 m_xs_bottom_5 animate_ftr"><button class="button_type_2 bg_light_color_1 r_corners tr_delay_hover tt_uppercase box_s_none" data-filter=".new">New</button></li>
        <li class="m_right_5 m_bottom_10 m_xs_bottom_5 animate_ftr"><button class="button_type_2 bg_light_color_1 r_corners tr_delay_hover tt_uppercase box_s_none" data-filter=".specials">Specials</button></li>
        <li class="m_right_5 m_bottom_10 m_xs_bottom_5 animate_ftr"><button class="button_type_2 bg_light_color_1 r_corners tr_delay_hover tt_uppercase box_s_none" data-filter=".hit">Hit</button></li>
        <li class="m_right_5 m_bottom_10 m_xs_bottom_5 animate_ftr"><button class="button_type_2 bg_light_color_1 r_corners tr_delay_hover tt_uppercase box_s_none" data-filter=".random">Random</button></li>
        <li class="m_right_5 m_bottom_10 m_xs_bottom_5 animate_ftr"><button class="button_type_2 bg_light_color_1 r_corners tr_delay_hover tt_uppercase box_s_none" data-filter=".rated">Rated</button></li>
    </ul>
    --->