	<div class="product_item">
							<figure class="r_corners photoframe shadow relative hit animate_ftb long">
								<!--product preview-->
								<a href="#" class="d_block relative pp_wrap">
									<!--hot product-->
									<span class="hot_stripe"><img src="images/hot_product.png" alt=""></span>
									<img src="images/product_img_1.jpg" class="tr_all_hover" alt="">
									<span data-popup="#quick_view_product" class="button_type_5 box_s_none color_light r_corners tr_all_hover d_xs_none">Quick View</span>
								</a>
								<!--description and price of product-->
								<figcaption>
									<h5 class="m_bottom_10"><a href="#" class="color_dark">Eget elementum vel</a></h5>
									<div class="clearfix">
										<p class="scheme_color f_left f_size_large m_bottom_15">$102.00</p>
										<!--rating-->
										<ul class="horizontal_list f_right clearfix rating_list tr_all_hover">
											<li class="active">
												<i class="fa fa-star-o empty tr_all_hover"></i>
												<i class="fa fa-star active tr_all_hover"></i>
											</li>
											<li class="active">
												<i class="fa fa-star-o empty tr_all_hover"></i>
												<i class="fa fa-star active tr_all_hover"></i>
											</li>
											<li class="active">
												<i class="fa fa-star-o empty tr_all_hover"></i>
												<i class="fa fa-star active tr_all_hover"></i>
											</li>
											<li class="active">
												<i class="fa fa-star-o empty tr_all_hover"></i>
												<i class="fa fa-star active tr_all_hover"></i>
											</li>
											<li>
												<i class="fa fa-star-o empty tr_all_hover"></i>
												<i class="fa fa-star active tr_all_hover"></i>
											</li>
										</ul>
									</div>
									<button class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0">Add to Cart</button>
								</figcaption>
							</figure>
						</div>
                        
                        
                        
						<!--product item-->
						<div class="product_item featured">
							<figure class="r_corners photoframe shadow relative animate_ftb long">
								<!--product preview-->
								<a href="#" class="d_block relative wrapper pp_wrap">
									<img src="images/product_img_2.jpg" class="tr_all_hover" alt="">
									<span data-popup="#quick_view_product" class="box_s_none button_type_5 color_light r_corners tr_all_hover d_xs_none">Quick View</span>
								</a>
								<!--description and price of product-->
								<figcaption>
									<h5 class="m_bottom_10"><a href="#" class="color_dark">Ut tellus dolor dapibus</a></h5>
									<div class="clearfix m_bottom_15">
										<p class="scheme_color f_size_large f_left">$57.00</p>
										<!--rating-->
										<ul class="horizontal_list f_right clearfix rating_list tr_all_hover">
											<li class="active">
												<i class="fa fa-star-o empty tr_all_hover"></i>
												<i class="fa fa-star active tr_all_hover"></i>
											</li>
											<li class="active">
												<i class="fa fa-star-o empty tr_all_hover"></i>
												<i class="fa fa-star active tr_all_hover"></i>
											</li>
											<li class="active">
												<i class="fa fa-star-o empty tr_all_hover"></i>
												<i class="fa fa-star active tr_all_hover"></i>
											</li>
											<li class="active">
												<i class="fa fa-star-o empty tr_all_hover"></i>
												<i class="fa fa-star active tr_all_hover"></i>
											</li>
											<li>
												<i class="fa fa-star-o empty tr_all_hover"></i>
												<i class="fa fa-star active tr_all_hover"></i>
											</li>
										</ul>
									</div>
									<div class="clearfix">
										<button class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light f_left mw_0">Add to Cart</button>
										<button class="button_type_4 bg_light_color_2 tr_all_hover f_right r_corners color_dark mw_0 m_left_5 p_hr_0"><i class="fa fa-files-o"></i></button>
										<button class="button_type_4 bg_light_color_2 tr_all_hover f_right r_corners color_dark mw_0 p_hr_0"><i class="fa fa-heart-o"></i></button>
									</div>
								</figcaption>
							</figure>
						</div>
                        
                        
                        
						<!--product item-->
						<div class="product_item new">
							<figure class="r_corners photoframe shadow relative animate_ftb long">
								<!--product preview-->
								<a href="#" class="d_block relative wrapper pp_wrap">
									<img src="images/product_img_3.jpg" class="tr_all_hover" alt="">
									<span data-popup="#quick_view_product" class="box_s_none button_type_5 color_light r_corners tr_all_hover d_xs_none">Quick View</span>
								</a>
								<!--description and price of product-->
								<figcaption>
									<h5 class="m_bottom_10"><a href="#" class="color_dark">Cursus eleifend elit aenean aucto.</a></h5>
									<div class="clearfix">
										<p class="scheme_color f_left f_size_large m_bottom_15">$99.00</p>
										<!--rating-->
										<ul class="horizontal_list f_right clearfix rating_list tr_all_hover">
											<li class="active">
												<i class="fa fa-star-o empty tr_all_hover"></i>
												<i class="fa fa-star active tr_all_hover"></i>
											</li>
											<li class="active">
												<i class="fa fa-star-o empty tr_all_hover"></i>
												<i class="fa fa-star active tr_all_hover"></i>
											</li>
											<li class="active">
												<i class="fa fa-star-o empty tr_all_hover"></i>
												<i class="fa fa-star active tr_all_hover"></i>
											</li>
											<li class="active">
												<i class="fa fa-star-o empty tr_all_hover"></i>
												<i class="fa fa-star active tr_all_hover"></i>
											</li>
											<li>
												<i class="fa fa-star-o empty tr_all_hover"></i>
												<i class="fa fa-star active tr_all_hover"></i>
											</li>
										</ul>
									</div>
									<button class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0">Add to Cart</button>
								</figcaption>
							</figure>
						</div>
						<!--product item-->
						<div class="product_item specials">
							<figure class="r_corners photoframe shadow relative animate_ftb long">
								<!--product preview-->
								<a href="#" class="d_block relative pp_wrap">
									<!--sale product-->
									<span class="hot_stripe"><img src="images/sale_product.png" alt=""></span>
									<img src="images/product_img_4.jpg" class="tr_all_hover" alt="">
									<span data-popup="#quick_view_product" class="box_s_none button_type_5 color_light r_corners tr_all_hover d_xs_none">Quick View</span>
								</a>
								<!--description and price of product-->
								<figcaption>
									<h5 class="m_bottom_10"><a href="#" class="color_dark">Aliquam erat volutpat</a></h5>
									<div class="clearfix">
										<p class="scheme_color f_left f_size_large m_bottom_15"><s>$79.00</s> $36.00</p>
										<!--rating-->
										<ul class="horizontal_list f_right clearfix rating_list tr_all_hover">
											<li class="active">
												<i class="fa fa-star-o empty tr_all_hover"></i>
												<i class="fa fa-star active tr_all_hover"></i>
											</li>
											<li class="active">
												<i class="fa fa-star-o empty tr_all_hover"></i>
												<i class="fa fa-star active tr_all_hover"></i>
											</li>
											<li class="active">
												<i class="fa fa-star-o empty tr_all_hover"></i>
												<i class="fa fa-star active tr_all_hover"></i>
											</li>
											<li class="active">
												<i class="fa fa-star-o empty tr_all_hover"></i>
												<i class="fa fa-star active tr_all_hover"></i>
											</li>
											<li>
												<i class="fa fa-star-o empty tr_all_hover"></i>
												<i class="fa fa-star active tr_all_hover"></i>
											</li>
										</ul>
									</div>
									<button class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0">Add to Cart</button>
								</figcaption>
							</figure>
						</div>
						<!--product item-->
						<div class="product_item hit">
							<figure class="r_corners photoframe shadow relative animate_ftb long">
								<!--product preview-->
								<a href="#" class="d_block relative pp_wrap">
									<!--hot product-->
									<span class="hot_stripe type_2"><img src="images/hot_product_type_2.png" alt=""></span>
									<img src="images/product_img_5.jpg" class="tr_all_hover" alt="">
									<span data-popup="#quick_view_product" class="box_s_none button_type_5 color_light r_corners tr_all_hover d_xs_none">Quick View</span>
								</a>
								<!--description and price of product-->
								<figcaption>
									<h5 class="m_bottom_10"><a href="#" class="color_dark">Eget elementum vel</a></h5>
									<div class="clearfix">
										<p class="scheme_color f_left f_size_large m_bottom_15">$102.00</p>
										<!--rating-->
										<ul class="horizontal_list f_right clearfix rating_list tr_all_hover">
											<li class="active">
												<i class="fa fa-star-o empty tr_all_hover"></i>
												<i class="fa fa-star active tr_all_hover"></i>
											</li>
											<li class="active">
												<i class="fa fa-star-o empty tr_all_hover"></i>
												<i class="fa fa-star active tr_all_hover"></i>
											</li>
											<li class="active">
												<i class="fa fa-star-o empty tr_all_hover"></i>
												<i class="fa fa-star active tr_all_hover"></i>
											</li>
											<li class="active">
												<i class="fa fa-star-o empty tr_all_hover"></i>
												<i class="fa fa-star active tr_all_hover"></i>
											</li>
											<li>
												<i class="fa fa-star-o empty tr_all_hover"></i>
												<i class="fa fa-star active tr_all_hover"></i>
											</li>
										</ul>
									</div>
									<button class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0">Add to Cart</button>
								</figcaption>
							</figure>
						</div>
						<!--product item-->
						<div class="product_item featured">
							<figure class="r_corners photoframe shadow relative animate_ftb long">
								<!--product preview-->
								<a href="#" class="d_block relative wrapper pp_wrap">
									<img src="images/product_img_6.jpg" class="tr_all_hover" alt="">
									<span data-popup="#quick_view_product" class="box_s_none button_type_5 color_light r_corners tr_all_hover d_xs_none">Quick View</span>
									<span class="clearfix p_buttons d_block tr_all_hover">
										<span class="box_s_none button_type_5 tr_delay_hover f_left r_corners color_light p_hr_0"><i class="fa fa-heart-o"></i></span>
										<span class="box_s_none button_type_5 tr_delay_hover f_left r_corners color_light m_left_5 p_hr_0"><i class="fa fa-files-o"></i></span>
									</span>
								</a>
								<!--description and price of product-->
								<figcaption>
									<h5 class="m_bottom_10"><a href="#" class="color_dark">Ut tellus dolor dapibus</a></h5>
									<div class="clearfix m_bottom_15">
										<p class="scheme_color f_size_large f_left">$57.00</p>
										<!--rating-->
										<ul class="horizontal_list f_right clearfix rating_list tr_all_hover">
											<li class="active">
												<i class="fa fa-star-o empty tr_all_hover"></i>
												<i class="fa fa-star active tr_all_hover"></i>
											</li>
											<li class="active">
												<i class="fa fa-star-o empty tr_all_hover"></i>
												<i class="fa fa-star active tr_all_hover"></i>
											</li>
											<li class="active">
												<i class="fa fa-star-o empty tr_all_hover"></i>
												<i class="fa fa-star active tr_all_hover"></i>
											</li>
											<li class="active">
												<i class="fa fa-star-o empty tr_all_hover"></i>
												<i class="fa fa-star active tr_all_hover"></i>
											</li>
											<li>
												<i class="fa fa-star-o empty tr_all_hover"></i>
												<i class="fa fa-star active tr_all_hover"></i>
											</li>
										</ul>
									</div>
									<button class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0">Add to Cart</button>
								</figcaption>
							</figure>
						</div>
						<!--product item-->
						<div class="product_item specials">
							<figure class="r_corners photoframe shadow relative animate_ftb long">
								<!--product preview-->
								<a href="#" class="d_block relative wrapper pp_wrap">
									<img src="images/product_img_7.jpg" class="tr_all_hover" alt="">
									<span data-popup="#quick_view_product" class="box_s_none button_type_5 color_light r_corners tr_all_hover d_xs_none">Quick View</span>
								</a>
								<!--description and price of product-->
								<figcaption>
									<h5 class="m_bottom_10"><a href="#" class="color_dark">Cursus eleifend elit aenean aucto.</a></h5>
									<div class="clearfix">
										<p class="scheme_color f_left f_size_large m_bottom_15">$99.00</p>
										<!--rating-->
										<ul class="horizontal_list f_right clearfix rating_list tr_all_hover">
											<li class="active">
												<i class="fa fa-star-o empty tr_all_hover"></i>
												<i class="fa fa-star active tr_all_hover"></i>
											</li>
											<li class="active">
												<i class="fa fa-star-o empty tr_all_hover"></i>
												<i class="fa fa-star active tr_all_hover"></i>
											</li>
											<li class="active">
												<i class="fa fa-star-o empty tr_all_hover"></i>
												<i class="fa fa-star active tr_all_hover"></i>
											</li>
											<li class="active">
												<i class="fa fa-star-o empty tr_all_hover"></i>
												<i class="fa fa-star active tr_all_hover"></i>
											</li>
											<li>
												<i class="fa fa-star-o empty tr_all_hover"></i>
												<i class="fa fa-star active tr_all_hover"></i>
											</li>
										</ul>
									</div>
									<button class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0">Add to Cart</button>
								</figcaption>
							</figure>
						</div>
						<!--product item-->
						<div class="product_item rated">
							<figure class="r_corners photoframe shadow relative animate_ftb long">
								<!--product preview-->
								<a href="#" class="d_block relative pp_wrap">
									<!--sale product-->
									<span class="hot_stripe type_2"><img src="images/sale_product_type_2.png" alt=""></span>
									<img src="images/product_img_8.jpg" class="tr_all_hover" alt="">
									<span data-popup="#quick_view_product" class="box_s_none button_type_5 color_light r_corners tr_all_hover d_xs_none">Quick View</span>
								</a>
								<!--description and price of product-->
								<figcaption>
									<h5 class="m_bottom_10"><a href="#" class="color_dark">Aliquam erat volutpat</a></h5>
									<div class="clearfix">
										<p class="scheme_color f_left f_size_large m_bottom_15"><s>$79.00</s> $36.00</p>
										<!--rating-->
										<ul class="horizontal_list f_right clearfix rating_list tr_all_hover">
											<li class="active">
												<i class="fa fa-star-o empty tr_all_hover"></i>
												<i class="fa fa-star active tr_all_hover"></i>
											</li>
											<li class="active">
												<i class="fa fa-star-o empty tr_all_hover"></i>
												<i class="fa fa-star active tr_all_hover"></i>
											</li>
											<li class="active">
												<i class="fa fa-star-o empty tr_all_hover"></i>
												<i class="fa fa-star active tr_all_hover"></i>
											</li>
											<li class="active">
												<i class="fa fa-star-o empty tr_all_hover"></i>
												<i class="fa fa-star active tr_all_hover"></i>
											</li>
											<li>
												<i class="fa fa-star-o empty tr_all_hover"></i>
												<i class="fa fa-star active tr_all_hover"></i>
											</li>
										</ul>
									</div>
									<button class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0">Add to Cart</button>
								</figcaption>
							</figure>
						</div>